# Class 17 - Starter Code

SQL Databases

In [ ]:
import pandas as pd
from pandas.io import sql

Pandas can be used to connect to most relational databases. In this demonstration, we will create and connect to a SQLite database. SQLite creates portable SQL databases saved in a single file. These databases are stored in a very efficient manner and allow fast querying, making them ideal for small databases or databases that need to be moved across machines.

If you are looking to start using a database without the setup of `mysql` or `postgres`, SQLite is a good start.

# Part 1: SQLite DB for Rossman Store Data

[SQLite](http://www.sqlite.org)

Let's return to the Rossmann sales data and load that into the database.

Data is moved to the database through the `to_sql` command, similar to the `to_csv` command.

Pandas `to_sql` takes as arugments:
    - `name`, the table name to create
    - `con`, a connection to a database
    - `index`, whether to input the index column
    - `schema`, if we want to write a custom schema for the new table
    - `if_exists`, what to do if the table already exists. We can overwrite it, add to it, or fail
    
SQLite can execute the following SQL commands: [https://www.sqlite.org/lang.html](https://www.sqlite.org/lang.html)

In [ ]:
import sqlite3

In [ ]:
# Create a new SQLite DB and establish connection
conn = sqlite3.connect('dat-test.db')

### Load the Rossmann Store sales data in `rossmann.csv` and create a table into the database

In [ ]:
# Load data from CSV
rossmann_sales = pd.read_csv('../../../lesson-15/assets/dataset/rossmann.csv', low_memory=False)
rossmann_sales.head()

In [ ]:
# Write data to DB
rossmann_sales.to_sql('rossmann_sales',
            con=conn,
            if_exists='replace',
            index=False)

### Check table schema for `rossmann_sales`

In [ ]:
sql.read_sql(
"""
PRAGMA table_info('rossmann_sales');
""", con=conn)

### Query all columns in `rossmann_sales`

In [ ]:
# Load data from DB
sql.read_sql('select * from rossmann_sales limit 5', con=conn)

### CHECK: Load the Rossmann Store metadata in `rossmann-stores.csv` and create a table into the database

In [ ]:
# Load data from CSV
rossmann_stores = pd.read_csv('../../assets/dataset/rossmann-stores.csv')

# Write data to DB
rossmann_stores.### FILL IN ###

### CHECK: Check table schema for `rossmann_stores`

In [ ]:
sql.### FILL IN ###

### CHECK: Query all columns in `rossmann_stores`

In [ ]:
# Load data from DB
### FILL IN ###

### DEMO: (SELECT) Write a query that returns the `Store`, `Date` and `Customers`

In [ ]:
sql.read_sql(
"""
SELECT 
Store, Date, Customers 
FROM rossmann_sales;
""", con=conn).head()

### DEMO: (WHERE) Have the students write a query that returns the `Store`, `Date` and `Customers` for when the stores were open and running a promotion

In [ ]:
sql.read_sql(
"""
SELECT 
Store, Date, Customers 
FROM rossmann_sales
WHERE Open = 1 and Promo = 1;
""", con=conn).head()

### DEMO: (GROUP BY) Have the students write a query that returns the total sales on promotion days.

In [ ]:
sql.read_sql(
"""
SELECT
Promo, SUM(Sales)
FROM rossmann_sales
GROUP BY Promo
""", con=conn).head()

### DEMO: (JOIN) Select Store, Customers, from `rossmann_sales` and StoreType from `rossmann_stores`

In [ ]:
# Select the Store, Customers, and StoreType
query = """
SELECT 
t1.Store, t1.Customers, t2.StoreType
FROM rossmann_sales as t1
JOIN rossmann_stores as t2
ON t1.Store = t2.Store
"""
sql.read_sql(query, con = conn).head()

# Part 2: [EXERCISE] SQLite DB for Walmart Store Data

### Exercises
1. Load the Walmart sales and store features data
1. Create a table for each of those datasets
1. Select the store, date and fuel price on days it was over 90 degrees
1. Select the store, date and weekly sales and temperature
1. What were average sales on holiday vs. non-holiday sales
1. What were average sales on holiday vs. non-holiday sales when the temperature was below 32 degrees

### 2.1 Load the Walmart sales and store features data

In [ ]:
# Load the Walmart sales and store features data
walmart_sales = pd.read_csv('../../assets/dataset/walmart-sales.csv')
walmart_sales.head()

walmart_features = pd.read_csv('../../assets/dataset/features.csv')
walmart_features.head()

### 2.2 Create a table for each of those datasets

In [ ]:
# Create a table for each of those datasets
walmart_sales.### FILL IN ###
walmart_features.### FILL IN ###

In [ ]:
sql.read_sql(
"""
PRAGMA table_info('walmart_sales');
""", con=conn)

In [ ]:
sql.read_sql(
"""
PRAGMA table_info('walmart_features');
""", con=conn)

### 2.3 Select the store, date and fuel price on days it was over 90 degrees

HINT: Use WHERE

In [ ]:
# Select the store, date and fuel price on days it was over 90 degrees
query = """
SELECT 
### FILL IN ###
"""
sql.read_sql(query, con = conn).head()

### 2.4 Select the store, date and weekly sales and temperature

HINT: Use JOIN

In [ ]:
# Select the store, date and weekly sales and temperature
query = """
### FILL IN ###
"""
sql.read_sql(query, con = conn).head()

### 2.5 What were average sales on holiday vs. non-holiday sales

HINT: Use GROUP BY

In [ ]:
# What were average sales on holiday vs. non-holiday sales
query = """
### FILL IN ###
"""
sql.read_sql(query, con = conn)

### 2.6 What were average sales on holiday vs. non-holiday sales when the temperature was below 32 degrees

HINT: Use JOIN, WHERE, and GROUP BY

In [ ]:
# What were average sales on holiday vs. non-holiday sales when the temperature was below 32 degrees
query = """
### FILL IN ###
"""
sql.read_sql(query, con = conn)